[package]
name = "frontend"

version = "0.1.0"
edition = "2024"

[dependencies]
common = { path = "../common" }

yew = { version = "0.22.0", features = ["csr"] }
yew-hooks = "0.4.0"

serde = { workspace = true }
serde_json = { workspace = true }
